:root {
  --primary-color: #4ecb9f;
  --secondary-color: #2c3e50;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --border-radius: 100%;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
  background-color: var(--primary-color);
}